AquardensUnitTest/Connected Services/wsAccesso/wsAccesso.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zitaca.com/gridservices" elementFormDefault="qualified" targetNamespace="http://zitaca.com/gridservices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="impianto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="tns:dcUser" />
        <xs:element minOccurs="0" name="info" nillable="true" type="tns:dcClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dcUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cellulare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodiceFiscale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataNascita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcUser" nillable="true" type="tns:dcUser" />
  <xs:complexType name="dcClientInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Device" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OsVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcClientInfo" nillable="true" type="tns:dcClientInfo" />
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" nillable="true" type="tns:dcUserEsito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dcUserEsito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dcEsito">
        <xs:sequence>
          <xs:element minOccurs="0" name="Cognome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DaConfermare" type="xs:boolean" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EnabledProcedures" nillable="true" type="q1:ArrayOfint" />
          <xs:element minOccurs="0" name="EnabledProceduresNew" nillable="true" type="tns:ArrayOfdcProcedure" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SkinData" type="xs:dateTime" />
          <xs:element minOccurs="0" name="UtenzaTipoPagamento" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dcUserEsito" nillable="true" type="tns:dcUserEsito" />
  <xs:complexType name="dcEsito">
    <xs:sequence>
      <xs:element minOccurs="0" name="EsitoCodice" type="xs:int" />
      <xs:element minOccurs="0" name="EsitoDescriz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EsitoNota" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcEsito" nillable="true" type="tns:dcEsito" />
  <xs:complexType name="ArrayOfdcProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dcProcedure" nillable="true" type="tns:dcProcedure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdcProcedure" nillable="true" type="tns:ArrayOfdcProcedure" />
  <xs:complexType name="dcProcedure">
    <xs:sequence>
      <xs:element minOccurs="0" name="Procedure" type="xs:int" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcProcedure" nillable="true" type="tns:dcProcedure" />
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="impianto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogoutResult" nillable="true" type="tns:dcEsito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="impianto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="tns:dcUser" />
        <xs:element minOccurs="0" name="info" nillable="true" type="tns:dcClientInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" nillable="true" type="tns:dcUserEsito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="impianto" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="oldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="newPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangePasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangePasswordResult" nillable="true" type="tns:dcEsito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpianti">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="impianto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImpiantiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImpiantiResult" nillable="true" type="tns:dcImpiantiEsito" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="dcImpiantiEsito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dcEsito">
        <xs:sequence>
          <xs:element minOccurs="0" name="Elenco" nillable="true" type="tns:ArrayOfInfoBox" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dcImpiantiEsito" nillable="true" type="tns:dcImpiantiEsito" />
  <xs:complexType name="ArrayOfInfoBox">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InfoBox" nillable="true" type="tns:InfoBox" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInfoBox" nillable="true" type="tns:ArrayOfInfoBox" />
  <xs:complexType name="InfoBox">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdBox">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InfoBox" nillable="true" type="tns:InfoBox" />
  <xs:complexType name="IdBox">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdEsterno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IdBox" nillable="true" type="tns:IdBox" />
  <xs:complexType name="dcBaseRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Impianto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="tns:dcBaseLanguage" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcBaseRequest" nillable="true" type="tns:dcBaseRequest" />
  <xs:complexType name="dcBaseLanguage">
    <xs:sequence>
      <xs:element minOccurs="0" name="IetfLanguageTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoLetterISOLanguageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcBaseLanguage" nillable="true" type="tns:dcBaseLanguage" />
  <xs:complexType name="dcDispositiviEsito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dcEsito">
        <xs:sequence>
          <xs:element minOccurs="0" name="Dispositivi" nillable="true" type="tns:ArrayOfInfoBox" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dcDispositiviEsito" nillable="true" type="tns:dcDispositiviEsito" />
  <xs:complexType name="dcPrivacyInfoEsito">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:dcEsito">
        <xs:sequence>
          <xs:element minOccurs="0" name="UrlDataTreatmentAuthorization" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="dcPrivacyInfoEsito" nillable="true" type="tns:dcPrivacyInfoEsito" />
  <xs:complexType name="dcConfirmRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcConfirmRequest" nillable="true" type="tns:dcConfirmRequest" />
  <xs:complexType name="dcPasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="dcPasswordRequest" nillable="true" type="tns:dcPasswordRequest" />
</xs:schema>