AquardensUnitTest/Connected Services/wsAccesso/wsAccesso.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices/001" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zitaca.com/gridservices/001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/001/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd3" namespace="http://zitaca.com/gridservices/001" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iAccess_001_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetImpianti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImpianti" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetImpianti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImpiantiResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetDispositivi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDispositivi" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetDispositivi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDispositiviResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetPrivacyInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivacyInfo" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_GetPrivacyInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrivacyInfoResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_ConfirmRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegister" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_ConfirmRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_RecoveryConfirmCode_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoveryConfirmCode" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_RecoveryConfirmCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoveryConfirmCodeResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_RecoveryPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:RecoveryPassword" />
  </wsdl:message>
  <wsdl:message name="iAccess_001_RecoveryPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecoveryPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="iAccess_001">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/Login" message="tns:iAccess_001_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/LoginResponse" message="tns:iAccess_001_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/Logout" message="tns:iAccess_001_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/LogoutResponse" message="tns:iAccess_001_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/Register" message="tns:iAccess_001_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/RegisterResponse" message="tns:iAccess_001_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/ChangePassword" message="tns:iAccess_001_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/ChangePasswordResponse" message="tns:iAccess_001_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImpianti">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetImpianti" message="tns:iAccess_001_GetImpianti_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetImpiantiResponse" message="tns:iAccess_001_GetImpianti_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDispositivi">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetDispositivi" message="tns:iAccess_001_GetDispositivi_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetDispositiviResponse" message="tns:iAccess_001_GetDispositivi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrivacyInfo">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetPrivacyInfo" message="tns:iAccess_001_GetPrivacyInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/GetPrivacyInfoResponse" message="tns:iAccess_001_GetPrivacyInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmRegister">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/ConfirmRegister" message="tns:iAccess_001_ConfirmRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/ConfirmRegisterResponse" message="tns:iAccess_001_ConfirmRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoveryConfirmCode">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/RecoveryConfirmCode" message="tns:iAccess_001_RecoveryConfirmCode_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/RecoveryConfirmCodeResponse" message="tns:iAccess_001_RecoveryConfirmCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecoveryPassword">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/RecoveryPassword" message="tns:iAccess_001_RecoveryPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iAccess_001/RecoveryPasswordResponse" message="tns:iAccess_001_RecoveryPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>