AquardensUnitTest/Connected Services/wsAccesso/wsAccesso1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://zitaca.com/gridservices/001" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsAccesso" targetNamespace="http://zitaca.com/gridservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://zitaca.com/gridservices/001" location="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAccesso.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iAccess_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="iAccess_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="iAccess_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="iAccess_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="iAccess_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="iAccess_GetImpianti_InputMessage">
    <wsdl:part name="parameters" element="tns:GetImpianti" />
  </wsdl:message>
  <wsdl:message name="iAccess_GetImpianti_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetImpiantiResponse" />
  </wsdl:message>
  <wsdl:portType name="iAccess">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iAccess/Login" message="tns:iAccess_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iAccess/LoginResponse" message="tns:iAccess_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iAccess/Logout" message="tns:iAccess_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iAccess/LogoutResponse" message="tns:iAccess_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iAccess/Register" message="tns:iAccess_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iAccess/RegisterResponse" message="tns:iAccess_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iAccess/ChangePassword" message="tns:iAccess_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iAccess/ChangePasswordResponse" message="tns:iAccess_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetImpianti">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iAccess/GetImpianti" message="tns:iAccess_GetImpianti_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iAccess/GetImpiantiResponse" message="tns:iAccess_GetImpianti_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iAccess" type="tns:iAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://zitaca.com/gridservices/iAccess/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://zitaca.com/gridservices/iAccess/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://zitaca.com/gridservices/iAccess/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://zitaca.com/gridservices/iAccess/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpianti">
      <soap:operation soapAction="http://zitaca.com/gridservices/iAccess/GetImpianti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iAccess_001" type="i0:iAccess_001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImpianti">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/GetImpianti" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDispositivi">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/GetDispositivi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrivacyInfo">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/GetPrivacyInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmRegister">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/ConfirmRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoveryConfirmCode">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/RecoveryConfirmCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecoveryPassword">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iAccess_001/RecoveryPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAccesso">
    <wsdl:port name="BasicHttpBinding_iAccess" binding="tns:BasicHttpBinding_iAccess">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAccesso.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iAccess_001" binding="tns:BasicHttpBinding_iAccess_001">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAccesso.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>