AquardensUnitTest/Connected Services/wsListini/wsListini1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices/001" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zitaca.com/gridservices/001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/001/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd3" namespace="http://zitaca.com/gridservices/001" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd4" namespace="http://zitaca.com/gridservices/002" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iElenchi_001_GetListini_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListini" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetListini_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListiniResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetCategorie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorie" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetCategorie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorieResponse" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_SetListino_InputMessage">
    <wsdl:part name="parameters" element="tns:SetListino" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_SetListino_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetListinoResponse" />
  </wsdl:message>
  <wsdl:portType name="iElenchi_001">
    <wsdl:operation name="GetListini">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetListini" message="tns:iElenchi_001_GetListini_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetListiniResponse" message="tns:iElenchi_001_GetListini_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategorie">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetCategorie" message="tns:iElenchi_001_GetCategorie_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetCategorieResponse" message="tns:iElenchi_001_GetCategorie_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="iGestione_001">
    <wsdl:operation name="SetListino">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/SetListino" message="tns:iGestione_001_SetListino_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/SetListinoResponse" message="tns:iGestione_001_SetListino_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>