AquardensUnitTest/Connected Services/wsListini/wsListini.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices/002" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zitaca.com/gridservices/002" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/002/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd4" namespace="http://zitaca.com/gridservices/002" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsListini.svc?xsd=xsd3" namespace="http://zitaca.com/gridservices/001" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iElenchi_002_GetListini_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListini" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetListini_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListiniResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetCategorie_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorie" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetCategorie_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCategorieResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetListiniCompatibiliRinnovo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListiniCompatibiliRinnovo" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetListiniCompatibiliRinnovo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListiniCompatibiliRinnovoResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetComponentiPacchetto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentiPacchetto" />
  </wsdl:message>
  <wsdl:message name="iElenchi_002_GetComponentiPacchetto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetComponentiPacchettoResponse" />
  </wsdl:message>
  <wsdl:portType name="iElenchi_002">
    <wsdl:operation name="GetListini">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetListini" message="tns:iElenchi_002_GetListini_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetListiniResponse" message="tns:iElenchi_002_GetListini_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCategorie">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetCategorie" message="tns:iElenchi_002_GetCategorie_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetCategorieResponse" message="tns:iElenchi_002_GetCategorie_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListiniCompatibiliRinnovo">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetListiniCompatibiliRinnovo" message="tns:iElenchi_002_GetListiniCompatibiliRinnovo_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetListiniCompatibiliRinnovoResponse" message="tns:iElenchi_002_GetListiniCompatibiliRinnovo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetComponentiPacchetto">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetComponentiPacchetto" message="tns:iElenchi_002_GetComponentiPacchetto_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/002/iElenchi_002/GetComponentiPacchettoResponse" message="tns:iElenchi_002_GetComponentiPacchetto_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>