AquardensUnitTest/Connected Services/wsAnagrafica/wsAnagrafica.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://zitaca.com/gridservices/001" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="wsAnagrafica" targetNamespace="http://zitaca.com/gridservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://zitaca.com/gridservices/001" location="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd2" namespace="http://zitaca.com/gridservices/001" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iGestione_Aggiungi_InputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi" />
  </wsdl:message>
  <wsdl:message name="iGestione_Aggiungi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiResponse" />
  </wsdl:message>
  <wsdl:message name="iGestione_Modifica_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifica" />
  </wsdl:message>
  <wsdl:message name="iGestione_Modifica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_GetIscrizioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIscrizioni" />
  </wsdl:message>
  <wsdl:message name="iElenchi_GetIscrizioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIscrizioniResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_GetAnagrafiche_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnagrafiche" />
  </wsdl:message>
  <wsdl:message name="iElenchi_GetAnagrafiche_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnagraficheResponse" />
  </wsdl:message>
  <wsdl:portType name="iGestione">
    <wsdl:operation name="Aggiungi">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iGestione/Aggiungi" message="tns:iGestione_Aggiungi_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iGestione/AggiungiResponse" message="tns:iGestione_Aggiungi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iGestione/Modifica" message="tns:iGestione_Modifica_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iGestione/ModificaResponse" message="tns:iGestione_Modifica_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="iElenchi">
    <wsdl:operation name="GetIscrizioni">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iElenchi/GetIscrizioni" message="tns:iElenchi_GetIscrizioni_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iElenchi/GetIscrizioniResponse" message="tns:iElenchi_GetIscrizioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnagrafiche">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/iElenchi/GetAnagrafiche" message="tns:iElenchi_GetAnagrafiche_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/iElenchi/GetAnagraficheResponse" message="tns:iElenchi_GetAnagrafiche_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_iGestione" type="tns:iGestione">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Aggiungi">
      <soap:operation soapAction="http://zitaca.com/gridservices/iGestione/Aggiungi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <soap:operation soapAction="http://zitaca.com/gridservices/iGestione/Modifica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iGestione_001" type="i0:iGestione_001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Aggiungi">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iGestione_001/Aggiungi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iGestione_001/Modifica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadUserFile">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iGestione_001/UploadUserFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserNote">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iGestione_001/SetUserNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iElenchi" type="tns:iElenchi">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIscrizioni">
      <soap:operation soapAction="http://zitaca.com/gridservices/iElenchi/GetIscrizioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnagrafiche">
      <soap:operation soapAction="http://zitaca.com/gridservices/iElenchi/GetAnagrafiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_iElenchi_001" type="i0:iElenchi_001">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetIscrizioni">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iElenchi_001/GetIscrizioni" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnagrafiche">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iElenchi_001/GetAnagrafiche" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagamentiSospesi">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iElenchi_001/GetPagamentiSospesi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMemberCard">
      <soap:operation soapAction="http://zitaca.com/gridservices/001/iElenchi_001/GetMemberCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsAnagrafica">
    <wsdl:port name="BasicHttpBinding_iGestione" binding="tns:BasicHttpBinding_iGestione">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iGestione_001" binding="tns:BasicHttpBinding_iGestione_001">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iElenchi" binding="tns:BasicHttpBinding_iElenchi">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_iElenchi_001" binding="tns:BasicHttpBinding_iElenchi_001">
      <soap:address location="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>