AquardensUnitTest/Connected Services/wsAnagrafica/wsAnagrafica1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://zitaca.com/gridservices/001" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zitaca.com/gridservices/001" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://zitaca.com/gridservices/001/Imports">
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd2" namespace="http://zitaca.com/gridservices/001" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd0" namespace="http://zitaca.com/gridservices" />
      <xsd:import schemaLocation="http://zitacatest01.gymgest.it:9130/wsAnagrafica.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="iGestione_001_Aggiungi_InputMessage">
    <wsdl:part name="parameters" element="tns:Aggiungi" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_Aggiungi_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggiungiResponse" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_Modifica_InputMessage">
    <wsdl:part name="parameters" element="tns:Modifica" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_Modifica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificaResponse" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_UploadUserFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserFile" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_UploadUserFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadUserFileResponse" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_SetUserNote_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserNote" />
  </wsdl:message>
  <wsdl:message name="iGestione_001_SetUserNote_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserNoteResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetIscrizioni_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIscrizioni" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetIscrizioni_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIscrizioniResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetAnagrafiche_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnagrafiche" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetAnagrafiche_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnagraficheResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetPagamentiSospesi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPagamentiSospesi" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetPagamentiSospesi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPagamentiSospesiResponse" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetMemberCard_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberCard" />
  </wsdl:message>
  <wsdl:message name="iElenchi_001_GetMemberCard_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMemberCardResponse" />
  </wsdl:message>
  <wsdl:portType name="iGestione_001">
    <wsdl:operation name="Aggiungi">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/Aggiungi" message="tns:iGestione_001_Aggiungi_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/AggiungiResponse" message="tns:iGestione_001_Aggiungi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modifica">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/Modifica" message="tns:iGestione_001_Modifica_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/ModificaResponse" message="tns:iGestione_001_Modifica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadUserFile">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/UploadUserFile" message="tns:iGestione_001_UploadUserFile_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/UploadUserFileResponse" message="tns:iGestione_001_UploadUserFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserNote">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/SetUserNote" message="tns:iGestione_001_SetUserNote_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iGestione_001/SetUserNoteResponse" message="tns:iGestione_001_SetUserNote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="iElenchi_001">
    <wsdl:operation name="GetIscrizioni">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetIscrizioni" message="tns:iElenchi_001_GetIscrizioni_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetIscrizioniResponse" message="tns:iElenchi_001_GetIscrizioni_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnagrafiche">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetAnagrafiche" message="tns:iElenchi_001_GetAnagrafiche_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetAnagraficheResponse" message="tns:iElenchi_001_GetAnagrafiche_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPagamentiSospesi">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetPagamentiSospesi" message="tns:iElenchi_001_GetPagamentiSospesi_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetPagamentiSospesiResponse" message="tns:iElenchi_001_GetPagamentiSospesi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMemberCard">
      <wsdl:input wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetMemberCard" message="tns:iElenchi_001_GetMemberCard_InputMessage" />
      <wsdl:output wsaw:Action="http://zitaca.com/gridservices/001/iElenchi_001/GetMemberCardResponse" message="tns:iElenchi_001_GetMemberCard_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>